<head>
  <link rel="stylesheet" href="/stylings/general.css" />
  <link rel="stylesheet" href="/stylings/commentsIndex.css" />
</head>
<%- include("./../partials/_header.ejs")%>
<% %>
<section class="commentsSection">
  
  <%postComments.forEach((postComment,index)=>{%>
  <div class="comment">
    <img src="/images/icons/dummyUser.png" class="commenterImage" alt="">
    <div class="commentDetails">
      <div>
        <p class="commenterName"><%= postComment.userId.displayName %></p>
        <p class="commentTime"><%= postComment.createdAt.toLocaleString("en-GB", { timeZone: "UTC" }) %></p>
      </div>
      <p class="commentContent"><%= postComment.description %></p>
    </div>
    <div class="commentButtons">
      <form 
        <% if (postComment.favoritedByUser.some((singleUser)=>{
             return singleUser.equals(user._id)
            })) {%>
      action="/comments/<%=postComment._id%>/unlike?_method=DELETE"
      <%}else{%>
              action="/comments/<%=postComment._id%>/like"
            <%}%>
        method="post">
        <button><img
            <% if (postComment.favoritedByUser.some((singleUser)=>{
             return singleUser.equals(user._id)
            })) {%>
      src="/images/icons/filledHeart.png"
      <%}else{%>
              src="/images/icons/heart.png"

            <%}%>
            alt=""></button>
      </form>
      <img 
        src="/images/icons/options.png"  
        onclick="document.querySelectorAll('.optionsPanel')[<%=index %>].style.display= 'block'"
        style="display:<%= postComment.userId.equals(user._id)?'block':'none'%> ;"

              >
      <form class="commentOptionsPanel" action="/comments/postComment._id?_method=DELETE" method="post">
        <button type="submit">Delete</button>
      </form>
    </div>
    <div class="optionsPanel">
      <form action="/comments/<%= postComment._id%>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
      </form>
    </div>
  </div>
  <%  })%>



</section>
</main>
<form class="newCommentForm" action="/comments/<%= currentPostId%>" method="post">
  <div class="inputContainer">
    <img src="/images/icons/chatBubble.png">
    <input type="text" name="description" placeholder="Write your comment" id="description">
    <button type="submit"><img src="/images/icons/send.png"></button>
  </div>
</form>
