<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylings/edit.css" />


    <title>Edit</title>
  </head>
  <body>
    <header class="profileHeader">

      <a href="/users/<%= user._id %>"><img src="/images/icons/leftArrow.png" alt=""></a>
      <h2>My Account</h2>
      <div>
    </header>
    
    <form 
      action="/users/<%= profileUser._id %>/profile?_method=PUT"   
      enctype="multipart/form-data"
      method="post"
      class="profileEditForm"
      >
    <section class="Profile-photo">
      <img class="profile-photo" src="/uploadImages/<%= profileUser.photo %>" />
        <label for="photo" class="photo-label">Choose your image</label>
        <input type="file" name="photo" id="photo" class="photo-input" />
      
    </section>

    <div class="form-group">
      <input type="text" name="username" placeholder="Username" value="<%= profileUser.username%>" required />
    </div>


    <div class="form-group">
      <input type="text" name="displayName" placeholder="Display Name" value="<%= profileUser.displayName%>" required
      />
    </div>


    <div class="form-group">
      <input type="text" name="bio" placeholder="Bio"  value="<%= profileUser.username %>"/>
    </div>

    <br />
    <br />
    <br />

    <div class="button-group"> 
      <a href="/users/<%= user._id %>">
      <button type="submit" class="submit-button">Save</button></a>
    </div>
    </form>

</form>
    <div class="dark-button">
      <a href="/users/update-password"
        ><button class="dark-button">Update Password</button></a
      >
    </div>

    <div class="dark-button">
      <a href="/users/sign-out"
        ><button class="dark-button">Log out</button></a
      >
    </div>

    <div class="dark-button">
      <form
        class="dark-button"
        action="/users/<%= profileUser._id %>?_method=DELETE"
        method="POST"
      >
        <button type="submit" class="dark-button">Delete Account</button>
    </div>
    </main>
  </body>
</html>
