<h1>
  <% if (followingList.length > 0) { %> Following <% } else if
  (followersList.length > 0) { %> Followers <% } %>
</h1>

<% if (followingList.length > 0) { %>
<div>
  <% followingList.forEach(user => { %>
  <div>
    <img alt="<%= user.displayName %>" />
    <h3><%= user.displayName %></h3>
    <p>@<%= user.username %></p>
  </div>
  <% }); %>
</div>
<% } %> <% if (followersList.length > 0) { %>
<div>
  <% followersList.forEach(user => { %>
  <div>
    <img alt="<%= user.displayName %>" />
    <h3><%= user.displayName %></h3>
    <p>@<%= user.username %></p>
  </div>
  <% }); %>
</div>
<% } %>
