<h2><%= user.displayName %> 
<h3><%= user.username%></h2></h3>

<img src="<% user.photo %>" alt="<%=username%> profile photo" />
<h2><%=user.bio%></h2>

<h3><%= posts.length %></h3>
<h3><%= followerCount %></h3>
<h3><%= followingCount %></h3>

<div>
<% }) %> <% posts.forEach((post) => { %>
<img src="<%= post.photo%>" alt="post image" />
<p><%= post.caption%></p>
<% }) %>
</div>