<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Profile Page</title>
  </head>
  <body>
    <h2><%= user.displayName %></h2>
    <h3><%= user.username%></h3>

    <img src="<% user.photo %>" alt="<%=user.username%> profile photo" />
    <h2><%=user.bio%></h2>

    <h3>posts</h3>
    <p><%= posts.length %></p>

    <h3>followers</h3>
    <p><a href="/follows/followers/<%= user._id %>"><%= followerCount %></a></p>
    <h2>following</h2>
    <p>
      <a href="/follows/followings/<%= user._id %>"><%= followingCount %></a>
    </p>

    <form action="/users/<%=user._id%>/follow" method="POST">
      <button type="submit">Follow</button>
    </form>

    <form
      action="/users/<%=user._id%>/unfollow/?_method=DELETE"
      method="POST"
    >
      <button type="submit">Unfollow</button>
    </form>

    <div>
      <% posts.forEach((post) => { %>
      <img src="<%= post.photo%>" alt="post image" />
      <p><%= post.caption%></p>
      <% }) %>
    </div>

    
<form action="/user/<%= user._id %>/edit">
  <button>Edit</button>
</form>

<form action="/user/<%= user._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
</form>
  </body>
</html>
