<html>
  <head>
    <title>User Search</title>
    <link rel="stylesheet" href="/stylings/search.css" />
  </head>
  <body>
    <header>
      <div class="header-top">
        <img
          class="previousPage"
          onclick="document.location.href='/previous-page'"
          src="/images/icons/leftArrow.png"
          alt="left arrow icon"
        />
        <h1 class="pageName"><%= pageName %></h1>
      </div>
      <form action="/users/search" method="post" class="searchForm">
        <input type="text" name="string" />
        <button type="submit" class="hidden-btn" ;>Search</button>
      </form>
    </header>

    <main>
      <% if (hasSearched){ %> <% users.forEach(user => { %>
      <div class="user-item">
        <a href="/users/<%= user._id %>" class="user-link">
          <div class="user-content">
            <img src="<%= user.photo %>" alt="<%= user.displayName %>" />
            <div class="user-text">
              <h3><%= user.displayName %></h3>
              <p>@<%= user.username %></p>
            </div>
          </div>
        </a>
      </div>
      <% }); %> <% } %>
    </main>
  </body>
</html>
