<head>
  <link rel="stylesheet" href="/stylings/general.css" />
  <link rel="stylesheet" href="/stylings/post.css"/>
</head>
<%- include("./../partials/_header.ejs")%>

<div class="backgroun-color" id="h1">
  <div class="icon">
    <img src="<%= post.userId.photo %>" alt="icon"/>
  </div>
  <h1 class="color" id="username" ><%= post.userId.username %></h1>
  <div>
    <% if(post.userId._id.equals(user._id)) { %>
      <a id="edit" href="/posts/<%= post._id %>/edit"> Edit </a>
    <% } %>
  </div>
</div>
<div class="backgroun-color" id="image">
  <img class="post" src="/uploadImages/<%= post.photo %>"/>
</div>
<div class="backgroun-color" id="p">
  <p class="color"><span><%= post.userId.username %></span> <%= post.caption %></p>
  <h2><%= post.favoritedByUser.length %> Favorites</h2>
  <% if (userHasFavorited) { %>
    <form
    action="/posts/<%= post._id %>/favorited-by/<%= user._id%>?_method=DELETE"
    method="POST"
    >
    <button
    type="submit">Unfavorite
    </button>
    </form>
    <% } else { %>
      <form
      action="/posts/<%= post._id %>/favorited-by/<%= user._id%>"
      method="POST"
      >
      <button type="submit">Favorite</button>
      </form>
    <% } %>
</div>

<form action="/comments/<%= post._id%>" method="post">
  <label class="color" for="description">Write a comment: </label>
  <input type="text" name="description" id="description" />
  <button type="submit">Send</button>
</form>

<form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
  <label class="color" for="comment">Write a comment: </label>
  <input type="text" name="comment" id="comment" />
  <button type="submit">Delete this post</button>
</form>
<%- include("./../partials/_footer.ejs") %>