<head>
  <link rel="stylesheet" href="/stylings/general.css" />
  <link rel="stylesheet" href="/stylings/timeline.css"/>
  <link rel="stylesheet" href="/stylings/post.css"/>

</head>
<%- include("./../partials/_header.ejs")%>

  <div class="post">
    <div class="postHeader">
      <div class="postDetails">
        <img
          class="postOwnerProfile"
          src="/images/icons/dummyUser.png"
          alt=""
        />
        <div>
          <p class="postOwner"><%= post.userId.displayName%></p>
          <p class="postTime">
            <%= post.createdAt.toLocaleString("en-GB", { timeZone: "UTC" }) %>
          </p>
        </div>
      </div>
      <img
        style="display:<%= post.userId.equals(user._id)?'block':'none'%> ;"
        class="postOptions"
        onclick="document.querySelectorAll('.optionsPanel').style.display= 'block'"
        src="/images/icons/options.png"
        alt=""
      />
    </div>
    <div class="postImageContainer">
      <img src="/uploadImages/<%= post.photo%>" alt="" />
    </div>
    <p class="postCaption"><%= post.caption %></p>
    <div class="postButtons">
      <div class="reactions">
        <div class="likes">
          <% if (userHasFavorited) { %>
        <form
        action="/posts/<%= post._id %>/favorited-by/<%= user._id%>?_method=DELETE"
        method="POST"
        >
        <button class="heart"
        type="submit"><img src="/images/icons/filledHeart.png">
        </button>
        </form>
        <% } else { %>
          <form
          action="/posts/<%= post._id %>/favorited-by/<%= user._id%>"
          method="POST"
          >
          <button class="heart"
        type="submit"><img src="/images/icons/heart.png">
        </button>
          </form>
          <% } %>
          <p><%= post.favoritedByUser.length %></p>
        </div>
        <div class="comments">
          <img
            onclick="document.location.href ='/comments/<%=post._id%>'"
            src="/images/icons/chatBubble.png"
            alt=""
          />
          <p><%=post.comments.length%></p>
        </div>
      </div>
      <div class="share">
        <img class="pointer" src="/images/icons/share.png" alt="" />
        <p>Share</p>
      </div>
    </div>
    <div class="optionsPanel">
      <a href="/posts/<%= post._id%>/edit"><button>Edit</button></a>
      <form action="/posts/<%= post._id%>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
      </form>
    </div>
  </div>

</div>
<%- include("./../partials/_footer.ejs") %>