<h1>Posted by: <%= post.userId.username %></h1>

<img src="<%= post.photo %>"/>
<p><%= post.caption %></p>

<a href="/posts/<%= post._id %>/edit"> Edit </a>

<form action="/posts/<%= post._id %>?_method=DELETE" method="POST">

  <button type="submit">Delete this post</button>
</form>