<head>
  <link rel="stylesheet" href="/stylings/general.css" />
  <link rel="stylesheet" href="/stylings/timeline.css" />
</head>
<%- include("./../partials/_header.ejs")%>
<search class="postsSection">
  <% allPosts.forEach((post)=>{%>
  <div class="post">
    <div class="postHeader">
      <div class="postDetails">
        <img
          class="postOwnerProfile"
          src="/images/icons/dummyUser.png"
          alt=""
        />
        <div>
          <p class="postOwner"><%= post.userId.displayName%></p>
          <p class="postTime">
            <%= post.createdAt.toLocaleString("en-GB", { timeZone: "UTC" }) %>
          </p>
        </div>
      </div>
      <img class="postOptions" src="/images/icons/options.png" alt="" />
    </div>
    <div class="postImageContainer">
      <img src="uploadImeges/<%=post.photo %>" alt="" />
    </div>
    <p class="postCaption">
      <%= post.caption %>
    </p>
    <div class="postButtons">
      <div class="reactions">
        <div class="likes">
          <img src="/images/icons/heart.png" alt="" />
          <p>1</p>
        </div>
        <div class="comments">
          <img src="/images/icons/chatBubble.png" alt="" />
          <p>1</p>
        </div>
      </div>
      <div class="share">
        <img src="/images/icons/share.png" alt="" />
        <p>Share</p>
      </div>
    </div>
  </div>

  <% })%>
</search>
<%- include("./../partials/_footer.ejs")%>
